:root {
    background-color: #fff4e9;
}

    * {
        margin: 0;
        padding: 0;

    }
    
    body {
        width: 100%;
        min-height: 100vh;
    }


    html {
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    }
.pumpkin img {
    width: 60px;
    
}

.pumpkin img:hover {
    transform: scale(1.2);
}

.pumpkin {
    margin: 0 auto;
    width:100vw; 
}

   nav {
   
    color: white;
    align-items: center;
    border-bottom: solid 2px black ;
    display: flex;
    justify-content: end;
    height: 1.2cm;
    background-color: #EB6424;
    button {
        border-radius: 0.3cm;
        height: 1cm;
        width: 2.5cm;
        margin-left: 0.3cm;
        align-items: center;
        background-color: #7CB518;
    }
    button:hover {
        background-color: #fff4e9;
    } 
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
} 

.BigTitle {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.MainContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px;
    text-align: center;
    padding: 55px 1rem;

    
    .MainProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    border: black solid 3px;
    border-radius: 15px;
    background-color: white;
    

    .title {
        font-size: 30px;
    }
    
    .ProjectPicture1 {
        width: 30%;
        background-color: #7CB518;
        padding:  3px;
        border: solid black 1px;
        border-radius: 10px;

    }

    .status {
        color: #7CB518;
        margin-top: 10px;
    }

    .text {
        margin: 2%;
    }
}

}



footer {

    position: fixed;
    width: inherit;
    max-width: inherit;
    bottom: 0;
    color: white;
    border-top: solid 2px black;
	background-color: #EB6424;
	text-align: center;

    .FacebookFooter {
        height: 1cm;
        width: 1cm;
    }
    .GithubFooter {
        height: 1cm;
        width: 1cm;
}
}
.FacebookFooter:hover {
    background-color: #7CB518;
}
.GithubFooter:hover {
    background-color: #7CB518;
}



@media screen and (max-width: 720px) {

    nav {
        font-size: 8px;
        display: flex;
        justify-content: end;
        color: white;
        align-items: center;
        border-bottom: solid 2px black ;
        display: flex;
        justify-content: end;
        background-color: #EB6424;
        button {
            font-size: 10px;
            border-radius: 0.3cm;
            height: 0.5cm;
            width: 1.2cm;
            align-items: center;
            background-color: #7CB518;
        }
        button:hover {
            background-color: #fff4e9;
        } 

       .pumpkin img {
        width: 45px;}
 
    }
    
    .MainContent {
    font-size: 15px;
}

}