:root {
    background-color: #fff4e9;
}

    * {
        margin: 0;
        padding: 0;

    }
    
    body {
        width: 100%;
        min-height: 100vh;
    }


    html {
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    }

.pumpkin img {
    width: 60px;
    
}

.pumpkin img:hover {
    transform: scale(1.2);
}

.pumpkin {
    margin: 0 auto;
    width:100vw; 
}


   nav {

    color: white;
    align-items: center;
    border-bottom: solid 2px black ;
    display: flex;
    justify-content: end;
    height: 1.2cm;
    background-color: #EB6424;
    button {
        border-radius: 0.3cm;
        height: 1cm;
        width: 2.5cm;
        margin-left: 0.3cm;
        align-items: center;
        background-color: #7CB518;
    }
    button:hover {
        background-color: #fff4e9;
    } 
}


main {
    display: flex;
    margin: 2%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


.logo {
    width: 25%;
    transition: 0.5s;
    margin-top: 2%;
}

.logo:hover {
    transform: scale(1.2);
}

footer {

    position: fixed;
    width: inherit;
    max-width: inherit;
    bottom: 0;
    color: white;
    border-top: solid 2px black;
	background-color: #EB6424;
	text-align: center;

    .FacebookFooter {
        height: 1cm;
        width: 1cm;
    }
    .GithubFooter {
        height: 1cm;
        width: 1cm;
}
}
.FacebookFooter:hover {
    background-color: #7CB518;
}
.GithubFooter:hover {
    background-color: #7CB518;
}



@media screen and (max-width: 720px) {

    nav {
        font-size: 8px;
        display: flex;
        justify-content: end;
        color: white;
        align-items: center;
        border-bottom: solid 2px black ;
        display: flex;
        justify-content: end;
        background-color: #EB6424;
        button {
            font-size: 10px;
            border-radius: 0.3cm;
            height: 0.5cm;
            width: 1.2cm;
            align-items: center;
            background-color: #7CB518;
        }
        button:hover {
            background-color: #fff4e9;
        } 

       .pumpkin img {
        width: 45px;}
 
    }

    
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 100px;
        

        .title {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .logo {
        width: 28%;
        transition: 0.5s;
        margin-top: 2%;
        margin-left: 2%;
    }
    
    .subjects {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;

    }
 
}



    



